// app global css
main {
  background: #0e0f0f;
  overflow: auto;

}

.q-item__label {
  color: $menutext;  
}
.q-field__label{
  color: $menutext;  
}
.q-item {
  background: $subsecondary;  
}
// items in component list + route list
.list-item {
  background: $accent;
  color: white;
}
.q-field--standout .q-field__control {
  background: $menuinput;  
}
.gradient {
  background: black;
  // background: rgb(22,108,105);
  // background: linear-gradient(36deg, rgba(22,108,105,1) 0%, rgba(20,32,23,1) 100%);
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: $subsecondary;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: $subsecondary;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #303030;
}

::-webkit-scrollbar-thumb:hover
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #404040;
}