// app global css
main {
  background: #0e0f0f;
  overflow: scroll;

}

.q-item__label {
  color: $menutext;  
}
.q-field__label{
  color: $menutext;  
}
.q-item {
  background: $subsecondary;  
}
// items in component list + route list
.list-item {
  background: $accent;
  color: white;
}
.q-field--standout .q-field__control {
  background: $menuinput;  
}
.gradient {
  background: black;
  // background: rgb(22,108,105);
  // background: linear-gradient(36deg, rgba(22,108,105,1) 0%, rgba(20,32,23,1) 100%);
}
// ::-webkit-scrollbar {
//   width: 2px;
// }